{% extends 'base.html' %}
{% load static %}

{% block css %}
 <link rel="stylesheet" href="{% static 'css/ourwork.css' %}">
{% endblock %}

{% block content %}
<br>
<h3 class="elementskit-section-subtitle text-center ">
  Portfolio
</h3>
<center>
<h2 class="ekit-heading--title elementskit-section-title ">

Our Recent work.
<br>
<h4 class="elementor-heading-title elementor-size-default">Some Special Events We Had Done</h4>
</center>
</h2>

<br>
<section class="causes section-padding mt-5" id="causes">
  <div class="container">
      <div class="row">
          <!-- <div class="col-md-12">
              <div class="section-header text-center pb-5">
                  <h2 class="text-secondary">Our Causes</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur <br>adipisicing elit. Non, quo.</p>
              </div>
          </div> -->
      </div>
      <div class="row">
          <div class="col-12 col-md-6 col-lg-3">
              <div class="card text-white text-center pb-2">
                  <div class="card-body p-0">
                      <img src="{% static 'images/o1.jpg' %}" class="hover-zoom" alt="">
                      <!-- <i class="bi bi-laptop"></i> -->
                      <!-- <h3 class="card-title mt-3">Hunger</h3> -->

                  </div>
              </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
              <div class="card text-white text-center pb-2">
                  <div class="card-body p-0">
                      <img src="{% static 'images/o2.jpg' %}" alt="">
                      <!-- <i class="bi bi-laptop"></i> -->
                      <!-- <h3 class="card-title mt-3">Education</h3> -->

                  </div>
              </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
              <div class="card text-white text-center pb-2">
                  <div class="card-body p-0">
                      <img src="{% static 'images/o3.jpg' %}" alt="">
                      <!-- <i class="bi bi-journal"></i> -->
                      <!-- <h3 class="card-title mt-3">Thirst</h3> -->

                  </div>
              </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
              <div class="card text-white text-center pb-2">
                  <div class="card-body p-0">
                      <img src="{% static 'images/o4.jpg' %}" alt="">
                      <!-- <i class="bi bi-intersect"></i> -->
                      <!-- <h3 class="card-title mt-3">Homeless</h3> -->

                  </div>
              </div>
          </div>

      </div>
      <div class="row mt-5">
          <div class="col-12 col-md-6 col-lg-3">
              <div class="card text-white text-center pb-2">
                  <div class="card-body p-0">
                      <img src="{% static 'images/o5.jpg' %}" alt="">
                      <!-- <i class="bi bi-laptop"></i> -->
                      <!-- <h4 class="card-title mt-3">Wasting Food</h4> -->
<!--  -->
                  </div>
              </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
              <div class="card text-white text-center pb-2">
                  <div class="card-body p-0">
                      <img src="{% static 'images/o6.jpg' %}" alt="">
                      <!-- <i class="bi bi-laptop"></i> -->
                      <!-- <h4 class="card-title mt-3">Lack of Education</h4> -->

                  </div>
              </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
              <div class="card text-white text-center pb-2">
                  <div class="card-body p-0">
                      <img src="{% static 'images/o7.jpg' %}" alt="">
                      <!-- <i class="bi bi-journal"></i> -->
                      <!-- <h4 class="card-title mt-3">Polluted Water</h4> -->

                  </div>
              </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
              <div class="card text-white text-center pb-2">
                  <div class="card-body p-0">
                      <img src="{% static 'images/o8.jpg' %}" alt="">
                      <!-- <i class="bi bi-intersect"></i> -->
                      <!-- <h4 class="card-title mt-3">Lack of Shelter</h4> -->

                  </div>
              </div>
          </div>

      </div>

  </div>
  </div>
</section>

  <div class="container3 mt-3 ">
    <center>
    <div class="row">
      <div class="col-mb-6 mt-3">
        
        <h2 class="cont-heading--title elementskit-section-title  ">
					We Can Organise Your <span>Events</span>
				</h2>
         
        <div class="cont-heading__description mt-3">
					<p>We are Corporate Event Planners and one of the Best Event Management Company in Gadag <br> with our services available PAN India. We take the responsibility of making your dream a reality!</p>
          <br>
				</div>
    
      </div>
   
      <div class="col-mb-6">
        <!-- <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-6cca81d8" data-id="6cca81d8" data-element_type="column">
          <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-47036516 elementor-widget elementor-widget-elementskit-button" data-id="47036516" data-element_type="widget" data-widget_type="elementskit-button.default">
            <div class="elementor-widget-container">
          <div class="ekit-wid-con">		
            <div class="ekit-btn-wraper" >
                  <a href="{% url 'contact' %}"  rel="nofollow" class="elementskit-btn  whitespace--normal" hidefocus="true" style="border-radius: 30px 30px 30px 30px;">
              
              
              Contact Us				</a>
                </div>
            </div>		</div>
            </div>
              </div>
        </div> -->
        <button type="button" class="btn btn-danger btn-outline-success btn-lg" data-target="{% url 'contact' %}"
        
              data-toggle="modal">
              <a href="{% url 'contact' %}" style="color: black;text-decoration:none;">
              Contact Us
            </a>
            </button>
              <br>
      </div>
      
    </div>
  </center>
  </div>

{% endblock %}