{% extends 'base.html' %}
{% load static %}

{% block css %}
 <link rel="stylesheet" href="{% static 'css/team.css' %}">
{% endblock %}

{% block content %}


  <section id="services" class="services section-padding mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header text-center pb-5">
                    <h2 class="text-secondary">Meet our Event Catalysts</h2>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur <br>adipisicing elit. Non, quo.</p> -->
                    <h3 class="elementor-heading-title elementor-size-medium" style="color: #635c5c;font-family: Playfair Display,Sans-serif;">" Talent wins games, but teamwork and intelligence win championships."</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-4">
                <div class="card text-light text-center pb-2">
                    <div class="card-body text-dark">
                        <div class="img-area mb-4">
                            <img src="{% static 'images/h1.jpg' %}" class="img-fluid" alt="">
                        </div>
                        <div class="team-text">
                            <h3 class="card-title">Donate Food Kits</h3>
                            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci
                                eligendi
                                modi temporibus alias iste. Accusantium?</p>
                            <!-- <button class="btn bg-warning"><a class="text-dark text-decoration-none"
                                    href="#">Donate</a>
                            </button> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4">
                <div class="card text-light text-center pb-2">
                    <div class="card-body text-dark">
                        <div class="img-area mb-4">
                            <img src="{% static 'images/h1.jpg' %}" class="img-fluid" alt="">
                        </div>
                        <div class="team-text">
                            <h3 class="card-title">Donate Clothes</h3>
                            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci
                                eligendi
                                modi temporibus alias iste. Accusantium?</p>
                            <!-- <button class="btn bg-warning"><a class="text-dark text-decoration-none"
                                    href="#">Donate</a>
                            </button> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4">
                <div class="card text-light text-center pb-2">
                    <div class="card-body text-dark">
                        <div class="img-area mb-4">
                            <img src="{% static 'images/h1.jpg' %}" class="img-fluid" alt="">
                        </div>
                        <div class="team-text">
                            <h3 class="card-title">Donate Educational Kits</h3>
                            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci
                                eligendi
                                modi temporibus alias iste. Accusantium?</p>
                            <!-- <button class="btn bg-warning"><a class="text-dark text-decoration-none"
                                    href="#">Donate</a>
                            </button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5 align-content-center justify-content-center">
            <div class="col-12 col-md-12 col-lg-4">
                <div class="card text-light text-center pb-2">
                    <div class="card-body text-dark">
                        <div class="img-area mb-4">
                            <img src="{% static 'images/h1.jpg' %}" class="img-fluid" alt="">
                        </div>
                        <div class="team-text">
                            <h3 class="card-title">Donate Food Kits</h3>
                            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci
                                eligendi
                                modi temporibus alias iste. Accusantium?</p>
                            <!-- <button class="btn bg-warning"><a class="text-dark text-decoration-none"
                                    href="#">Donate</a>
                            </button> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4">
                <div class="card text-light text-center pb-2">
                    <div class="card-body text-dark">
                        <div class="img-area mb-4">
                            <img src="{% static 'images/h1.jpg' %}" class="img-fluid" alt="">
                        </div>
                        <div class="team-text">
                            <h3 class="card-title">Donate Clothes</h3>
                            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci
                                eligendi
                                modi temporibus alias iste. Accusantium?</p>
                            <!-- <button class="btn bg-warning"><a class="text-dark text-decoration-none"
                                    href="#">Donate</a>
                            </button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>


  <div class="container-1 text-center mt-5">
    <h2 class="q-heading-title elementor-size-large">Interested to Join Us?</h2>

    <h4 class="co-heading-title elementor-size-large">Please Get in touch</h4>
     <br>
    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-6cca81d8" data-id="6cca81d8" data-element_type="column">
      <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-47036516 elementor-widget elementor-widget-elementskit-button" data-id="47036516" data-element_type="widget" data-widget_type="elementskit-button.default">
        <div class="elementor-widget-container">
          <button type="button" class="btn btn-danger btn-outline-success btn-lg" data-target="{% url 'career' %}"
        
          data-toggle="modal">
          <a href="{% url 'career' %}" style="color: black;text-decoration:none;">
          Fill the From
        </a>
        </button>
        </div>		</div>
        </div>
          </div>
    </div>
  </div>
    
{% endblock %}