<div class="container-mt-3" style="background-color: rgb(8, 1, 29)">
  <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
    <div class="col mb-3 me-3">
      <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
        <svg class="bi me-" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <center>
        <a class="social-icon me-3" href="https://facebook.com/" target="_blank" >
        <ion-icon  name="logo-facebook" style="width: 30px; height:30px;"></ion-icon>
        </a>
        
        
        <a class="social-twitt me-3"  href="https://twitter.com/" target="_blank">
        <ion-icon  name="logo-twitter" style="width: 30px; height:30px;"></ion-icon>
        </a>
       
        <a class="social-insta me-3" href="https://instagram.com/" target="_blank">
          <ion-icon name="logo-instagram" style="width: 30px; height:30px;"></ion-icon>
      </a>
        
        <a class="social-yt me-3"  href="https://youtube.com/" target="_blank">
        <ion-icon  name="logo-youtube" style="width: 30px; height:30px;"></ion-icon>
        </a>
       
        <a class="social-goog me-3"  href="https://google.com/" target="_blank">
        <ion-icon  name="logo-google" style="width: 30px; height:30px;"></ion-icon>
        </a>
      </center>
      <p class="text me-3 " style="color: white;">© 2022</p>
    
    </div>

    <div class="col mb-3">

    </div>

    <div class="col mb-3">
      <h5 style="color: white;">Section</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="{% url 'home' %}" class="nav-link p-0 " style="color: red;" >Home</a></li>
        <li class="nav-item mb-2"><a href="{% url 'aboutus' %}" class="nav-link p-0 " style="color: red;">About US</a></li>
        <li class="nav-item mb-2"><a href="{% url 'aboutus' %}" class="nav-link p-0 " style="color: red;">Our work</a></li>
        <li class="nav-item mb-2"><a href="{% url 'team' %}" class="nav-link p-0 " style="color: red;">Team</a></li>
        <li class="nav-item mb-2"><a href="{% url 'special_events' %}" class="nav-link p-0 " style="color: red;">Specila Events</a></li>
        <li class="nav-item mb-2"><a href="{% url 'career' %}" class="nav-link p-0 " style="color: red;">Career</a></li>
        <li class="nav-item mb-2"><a href="{% url 'contact' %}" class="nav-link p-0 " style="color: red;">Contact</a></li>
      </ul>
    </div>

    <div class="footer-contact">
      <h5 style="color: white;">Contact us</h5>
      <div class="contact-slide">
      <div class="icon icon-location-1"  ></div>
      <p style="color: white;">C-1/2, Milap Nagar, Uttam Nagar, New Gadag-59</p>
      </div>
      <div class="contact-slide">
      <div class="icon icon-phone"></div>
      <p style="color: white;">+919955447733</p>
      </div>
      <div class="contact-slide">
      <div class="icon icon-message"></div>
      <a href="MailTo: neereventsmanagement@gmail.com" target="_blank"> beventful@gmail.com</a>
      </div>
      </div>

    
  </footer>
<div>

<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top bg-primary" data-bs-theme="dark" >
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <span class="mb-3 mb-md-0 text-muted">© 2022 beventful, Inc</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
    </ul>
  </footer>

</div>