.elementskit-section-subtitle{
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    /* margin: 0 0 15px 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 0px; */
}

.head{
    color: black;
    /* margin: 0 0 30px;
    margin-top: 0px;
    margin-right: 0px; */
    /* margin-bottom: 30px; */
    /* margin-left: 0px; */
    font-family: "Montserrat", sans-serif;
    font-size: 60px;
    font-weight: 800;
    /* line-height: 74px;
    letter-spacing: -1.6px; */
}
.p1{
    color: #110729;
    font-family: "Montserrat",Sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 35px;
}

.elementskit-btn{
    padding: 22px 45px 22px 45px;
    font-family: "Montserrat",Sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222;
    background-color: #FF1D4D;
    border-style: none;
    border-radius: 30px 30px 30px 30px;
    
}

.elementskit-btn:hover{
    background-color: green;
}